[submodule "xml.js"]
	path = xml.js
	url = https://github.com/lawyiu/xml.js.git
[submodule "lincity-ng"]
	path = lincity-ng
	url = https://github.com/lawyiu/lincity-ng.git
[submodule "physfs"]
	path = physfs
	url = https://github.com/icculus/physfs.git
